typing-extensions>=4.11,<5  
requests==2.32.2
python-multipart
httpx[http2]
tqdm>=4.62.1
numpy==1.23.1  
uvicorn>=0.21.1  
fastapi[all]
starlette>=0.26.1  
numba
more-itertools
tiktoken
librosa
soundfile
ffmpeg-python
tqdm
opencc-python-reimplemented
pytz==2022.1  

# Gemma (request python >= 3.9.0)
transformers==4.50.1
accelerate

# ollama
ollama

# GPT-4o
openai

# g_translate
# /tmp/googletrans-4.0.0rc1-py3-none-any.whl   # 自己包的一定要這個不然會版本衝突

# sse
sseclient
